
{% set count = 0 %}
<div class="dashboard-container">
    {% for row in 1..viz_data['rows'] %}
        <div class="columns">
            {% for col in 1..viz_data['cols'] %}
                <div id={{ viz_data['ids'][count] }} class="column"></div>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
