{#
/**
 * @file animal.html.twig
 * Default theme implementation to present Animal data.
 *
 * This template is used when viewing Animal pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_animal()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('animal') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
